@model BanqueTardi.Models.Client

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Client</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.NomClient)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.NomClient)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PrenomClient)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PrenomClient)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DateNaissance)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DateNaissance)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Adresse)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Adresse)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CodePostal)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CodePostal)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.NbDecouverts)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.NbDecouverts)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Telephone)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Telephone)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.NomParent)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.NomParent)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TelephoneParent)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TelephoneParent)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.ClientID">Modifier</a> |
    <a asp-action="Index" asp-controller="Comptes" asp-route-id="@Model.ClientID">Retourner à la page précédente</a>
</div>
