@model BanqueTardi.Models.Compte

@{
    ViewData["Title"] = "Delete";
}

<h1>Delete</h1>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>Compte</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Solde)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Solde)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Identifiant)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Identifiant)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Libelle)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Libelle)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TauxInteret)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TauxInteret)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TauxInteretDecouvert)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TauxInteretDecouvert)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TypeCompte)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TypeCompte)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Client)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Client.ClientID)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="CompteID" />
        <input type="submit" value="Delete" class="btn btn-danger" /> |
        <a asp-action="Index">Back to List</a>
    </form>
</div>
